# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.env
.env/
env/
venv/
ENV/
*.env.*

# Django
*.db
*.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# MacOS
.DS_Store
